{{#section 'js'}}
<script type="text/javascript">
    var validate = function () {
        if ($('#lname').val().length === 0){
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#miname').val().length === 0) {
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#fname').val().length === 0) {
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#address').val().length ===0){
            alert('Vui lòng nhập địa chỉ liên lạc');
            return false;
        }
        if ($('#phone').val().length ===0){
            alert('Vui lòng nhập số điện thoại liên lạc');
            return false;
        }
        if ($('#email').val().length ===0){
            alert('Vui lòng nhập email');
            return false;
        }
        return true;
    }
</script> 
{{/section}} 
{{#if Success}}
                <div class="alert alert-success" style="margin-left: 350px;width:600px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Tác vụ hoàn thành !</strong> {{Msg}}
                </div>
            {{/if}}
            {{#if showError}}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Tác vụ không hoàn thành !</strong> {{errorMsg}}
                </div>
                {{/if}}
<div class="container sp">
    <div class="row">
        <div class="col-md-2">
            <h4>Xin chào {{name}}</h4>
            <div>
                <a href="update_pass">Đổi mật khẩu</a>
            </div>
            <div>
                <a href="profile">Lịch sử mua hàng</a>
            </div>
            <div>
                <a href="../cart">Giỏ hàng</a>
            </div>
        </div> 
        <form action="" method="POST" role="form" onsubmit="return validate();"> 
            <div class="col-md-3">
                <span>First Name </span>
                <input type="text" value="{{FName}}" id="fname" class="ip" name="fname"/>
                <hr />
                <span>Midle Name </span>
                <input type="text" value="{{MName}}" class="ip" name="miname" id="miname"/>
                <hr />
                <span>Last Name </span>
                <input type="text" value="{{LName}}" class="ip" name="lname" id="lname"/>
                <hr />
            </div>
            <div class="col-md-3">
                <span> Phone Number</span>
                <input type="text" value="{{phone}}" class="ip" name="phone" id="phone"/>
                <hr />
                <span>Address</span>
                <input type="text" value="{{addr}}" class="ip" name="address"id="address"/>
                <hr />
                <span>E-Mail</span>
                <input type="text" value="{{mail}}" class="ip" name="email"id="email"/>
                <hr />
            </div>
            
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <button type="submit" class="next-btn next-btn-primary next-btn-large">LƯU THÔNG TIN</button>
        </div>
    </div>
    </form>
    <a href="/">
        <button class="btn btn-success" type="button">Trang chủ</button>
            </a>
</div>