<div class="container" style="width: 120%">
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">
            <img src="img/6.jpg" style="width: 860px;margin-left: 115px">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">
            <img src="img/p6.png" style="width: 275px; height: 110px ">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/p10.png" style="width: 275px;height: 112px">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/p5.png" style="width: 275px;height: 121px">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/p8.png" style="width: 275px;height: 140px">
        </a>
    </div>

</div>
<div class="container" style="width: 120%">
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/p14.jpg" style="width: 123px; height: 150px;margin-left: 115px ">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/9.jpg" style="width: 123px; height: 150px ">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/p2.jpg" style="width: 269px; height: 150px ">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/p1.jpg" style="width: 262px; height: 150px ">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/p16.png" style="width: 118px; height: 150px ">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

            <img src="img/8.jpg" style="width: 122px; height: 150px ">
        </a>
    </div>
    <div class="container-banner-img">
        <a class="item-thumb" href="#" rel="nofollow">

        <img src="img/p11.jpg" style="width: 122px; height: 150px ">
        </a>
    </div>
</div>
<div class="body-outer fluid fluid-nomargin container clearfix ">

    <div class="primary-outer">
        <div class="content-block clearfix">
            <div class="container-banner-img">
                <img src="img/spnb.jpg" style="width: 80%;margin-top: 25px;margin-bottom: -10px;margin-left: 90px">
            </div>
            <div class="content-block-inner home-block home-content-slider grid12">

                <div class="content-block clearfix mt20 mb0 single-related-post">
                    <div class="content-block-inner home-block category-content-slider">
                        <div class="block-inner-bar block-inner-tab-outer clearfix">
                            <ul class="block-inner-tab float-left home-aj-tab">
                                <li class="current">
                                    <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="font-size: 22px;color:orangered;margin-left: 10px;margin-top: 30px">Danh sách sản phẩm</a>
                                </li>
                            </ul>
                            <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block">
                                <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-prev prev" style="display: inline;">
                                    <i class="fa fa-angle-left pre"></i>
                                </a>
                                <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next next" style="display: inline;">
                                    <i class="fa fa-angle-right nex"></i>
                                </a>
                            </div>
                            <div class="bar-more-button float-right">
                                <!--<a href="http://cachep.vn/danh-muc/sach-quoc-van/" rel="nofollow">Xem tất cả</a>-->
                            </div>
                        </div>

                        <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style="width: 980px; margin: auto; display: block;margin-left: 70px">
                            <div id="owl-demo" class="owl-cachep-book-lib ">

                                {{#each newBook}}
                                <div class="item">
                                    <li class="item-outer" style="height: 280px;">
                                        <a class="item-thumb" href="sample_product/?id={{ISBN}}" rel="nofollow">
                                            <img style="width:140px; height:180px" src="image/{{Image}}" class="attachment-thumbnail-rectangle wp-post-image" alt="nhumuadongroixuong">
                                            {{!-- <span class="item-percent-bubble">-10%</span> --}}
                                        </a>
                                        <div class="item-meta-outer"style="width: 140px;margin-left: -5px;margin-top: 3px">
                                            <h3 class="item-title"style="font-size: 13.5px">
                                                <a href="sample_product/?id={{ISBN}}">{{BookName}}</a>
                                            </h3 >
                                            <em class="item-author"style="font-size: 12px">{{AuthName}}</em>
                                            <p class="item-price">
                                                <center>
                                                    <b>{{number_format Cost}}
                                                        <u>đ</u>
                                                    </b>
                                                </center>
                                                {{!-- <small>{{divide giaBan 0.9}}
                                                    <u>đ</u>
                                                </small> --}}
                                            </p>
                                        </div>

                                    </li>
                                    <div>
                                        <form method="post" action="/cart/add">
                                            <input id="sl" class="hidden" name="sl" value="1">
                                            <input id="idSach" name="idSach" type="hidden" value="{{ISBN}}">
                                            <input type="text" class="hidden" name="url" value="/">
                                            <button class="next-btn next-btn-primary next-btn-large" style="width: 110%;font-size: 13px;padding: 0;margin-left: -5px">Thêm vào giỏ hàng</button>
                                        </form>
                                    </div>
                                </div>

                                {{/each}}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- book -->
            </div>



            {{!-- <div class="content-block-inner home-block home-content-slider grid12"style="margin-top: 20px">
                <div class="content-block clearfix mt20 mb0 single-related-post">
                    <div class="content-block-inner home-block category-content-slider">
                        <div class="block-inner-bar block-inner-tab-outer clearfix">
                            <ul class="block-inner-tab float-left home-aj-tab">
                                <li class="current">
                                    <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="font-size: 22px;color:dodgerblue;margin-left: 10px;margin-top: 30px">Top 10 sản phẩm bán chạy nhất</a>
                                </li>
                            </ul>
                            <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block;">
                                <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-prev1 prev" style="display: inline;margin-left: 50px">
                                    <i class="fa fa-angle-left pre"></i>
                                </a>
                                <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next1 next" style="display: inline;">
                                    <i class="fa fa-angle-right nex"></i>
                                </a>
                            </div>
                            <div class="bar-more-button float-right">
                            </div>
                        </div>

                        <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style="width: 980px; margin: auto; display: block;;margin-left: 70px">
                            <div id="owl-demo" class="owl-cachep-book-lib1 ">
                                {{#each bestSaleBook}}
                                    <div class="item"style="width: 150px;">
                                        <li class="item-outer" style="height: 280px;">
                                            <a class="item-thumb" href="sample_product/?id={{idSach}}" rel="nofollow">
                                                <img style="width:140px; height:180px" src="{{hinhAnh}}" class="attachment-thumbnail-rectangle wp-post-image" alt="nhumuadongroixuong">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer"style="width: 140px;margin-left: -5px;margin-top: 3px">
                                                <h3 class="item-title"style="font-size: 13.5px">
                                                    <a href="sample_product/?id={{idSach}}">{{ten_sach}}</a>
                                                </h3 >
                                                <em class="item-author"style="font-size: 12px">{{tac_gia}}</em>
                                                <p class="item-price">
                                                    <b>{{number_format giaBan}}
                                                        <u>đ</u>
                                                    </b>
                                                    <small>{{divide giaBan 0.9 }}
                                                        <u>đ</u>
                                                    </small>
                                                </p>
                                            </div>

                                        </li>
                                        <div>
                                            <form method="post" action="/cart/add">
                                                <input id="sl" class="hidden" name="sl" value="1">
                                                <input id="idSach" name="idSach" type="hidden" value="{{idSach}}">
                                                <input type="text" class="hidden" name="url" value="/">

                                                <button class="next-btn next-btn-primary next-btn-large" style="width: 110%;font-size: 13px;padding: 0;margin-left: -5px">Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                    </div>

                                {{/each}}


                            </div>
                        </div>
                    </div>
                    <!-- book -->
                </div>




                <div class="content-block-inner home-block home-content-slider grid12"style="margin-top: 20px">
                    <div class="content-block clearfix mt20 mb0 single-related-post">
                        <div class="content-block-inner home-block category-content-slider">
                            <div class="block-inner-bar block-inner-tab-outer clearfix">
                                <ul class="block-inner-tab float-left home-aj-tab">
                                    <li class="current">
                                        <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="font-size: 22px;color:#0a8b1b;margin-left: 10px;margin-top: 30px">Top 10 sản phẩm được xem nhiều nhất</a>
                                    </li>
                                </ul>
                                <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block;">
                                    <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-prev2 prev" style="display: inline;">
                                        <i class="fa fa-angle-left pre"></i>
                                    </a>
                                    <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next2 next" style="display: inline;">
                                        <i class="fa fa-angle-right nex"></i>
                                    </a>
                                </div>
                                <div class="bar-more-button float-right">
                                    <!--<a href="http://cachep.vn/danh-muc/sach-quoc-van/" rel="nofollow">Xem tất cả</a>-->
                                </div>
                            </div>

                            <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style="width: 980px; margin: auto; display: block;margin-left: 70px;">
                                <div id="owl-demo" class="owl-cachep-book-lib2 ">
                                    {{#each byViews}}
                                        <div class="item"style="width: 150px;">
                                            <li class="item-outer" style="height: 280px;">
                                                <a class="item-thumb" href="sample_product/?id={{idSach}}" rel="nofollow"style="width: 90%">
                                                    <img style="width:140px; height:180px"  src="{{hinhAnh}}" class="attachment-thumbnail-rectangle wp-post-image" alt="nhumuadongroixuong">
                                                    <span class="item-percent-bubble">-10%</span>
                                                </a>
                                                <div class="item-meta-outer"style="width: 140px;margin-left: -5px;margin-top: 3px">
                                                    <h3 class="item-title"style="font-size: 13.5px">
                                                        <a href="sample_product/?id={{idSach}}">{{ten_sach}}</a>
                                                    </h3 >
                                                    <em class="item-author"style="font-size: 12px">{{tac_gia}}</em>
                                                    <p class="item-price">
                                                        <b>{{number_format giaBan}}
                                                            <u>đ</u>
                                                        </b>
                                                        <small>{{divide giaBan 0.9}}
                                                            <u>đ</u>
                                                        </small>
                                                    </p>
                                                </div>

                                            </li>
                                            <div>
                                                <form method="post" action="/cart/add">
                                                    <input id="sl" class="hidden" name="sl" value="1">
                                                    <input id="idSach" name="idSach" type="hidden" value="{{idSach}}">
                                                    <input type="text" class="hidden" name="url" value="/">

                                                    <button class="next-btn next-btn-primary next-btn-large" style="width: 110%;font-size: 13px;padding: 0;margin-left: -5px">Thêm vào giỏ hàng</button>
                                                </form>
                                            </div>
                                        </div>

                                    {{/each}}

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- book -->
                </div>



            </div> --}}

        </div>
    </div>
</div>